.ekocom-section-inner-wrapper{
    max-width: 1800px;
    height: 100%;
    position: relative;
    padding: 10vh 0;
	width: 87%;
    margin-left: 9.5%;
}
.li-active{
  font-size: 28px !important;
  color: white !important;
  margin-left: -2px
}
.li-active-1{
  font-size: 28px !important;
  color: white !important;
  margin-left: -2px
}
.one{
}
.two{
  display: none;
}
.ekocom-content-horizontal{
	width: 100%;
	height: 100%;
}
.ekocom-content-vertical {
    display: none;
}
.ekocom-content-horizontal-column{
	-webkit-transition: all .25s ease-out;
	transition: all .25s ease-out;
	-webkit-transition-delay: 0.46s;
	transition-delay: 0.46s;
	width: 50%;
    height: 100%;
    display: inline-block;
    float: left;
}
.branded_content .ekocom-content-horizontal-column.left{
    width: 60%;
}
.branded_content .ekocom-content-horizontal-column.right{
    width: 40%;
}
.branded_content .ekocom-content-horizontal-column.center{
    width: 100%;
    display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.industry .ekocom-content-horizontal-column.left{
    width: 55%;
}
.industry .ekocom-content-horizontal-column.right{
    width: 45%;
}
.ekocom-content-horizontal-column-left-row{
    width: 100%;
	height: 100%;
}
.ekocom-content-horizontal-column-left-row.twentyFive{
	height: 25%;
}
.ekocom-content-horizontal-column-left-row.two{
	height: 35%;
}
.ekocom-content-horizontal-column-left-row.fifty{
	height: 50%;
}
.ekocom-content-horizontal-column-left-row.four{
	height: 40%;
}
.ekocom-content-horizontal-column-left-row.five{
	height: 30%;
}
.ekocom-content-horizontal-column-left-row.twenty{
	height: 20%;
}
.ekocom-content-horizontal-column-left-row.seven {
	height: 60%;
}
.ekocom-content-horizontal-column-left-row.eight {
    height: 80%;
}
.ekocom-content-horizontal-column-left-row.seventy {
	height: 70%;
}
.ekocom-content-horizontal-column-left-row.nine{
    height: 9%;
}
.ekocom-content-horizontal-column-left-row.ten{
    height: 10%;
}
.ekocom-content-horizontal-column-left-row.ninety{
	height: 90%;
}
.ekocom-section-title, .ekocom-section-subtitle{
	font-family: 'Stolzl-Bold';
	color: #ffffff;
  font-size: 60px;
  line-height: 70px;
}
.ekocom-section-title {
	/*font-size: 6.125em;*/
  font-size: 60px
    /*font-size: 8.64vmin;*/
    /*line-height: 1.125em;*/
    line-height: 70px;
    /*line-height: 8.8vmin;*/
	padding-top: 3%;

}
.branded-title{
  transition-timing-function: ease-out;

}
.ekocom-section-subtitle{
	padding-top: 5%;
	font-family: "Montserrat";
    /*font-size: 2.7em;*/
    font-size: 26px;
    /*font-size: 3.83vmin;*/
    /*line-height: 1.35em;*/
    line-height: 36px;
    color: #FFF;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.ekocom-section-description{
  font-size: 18px;
  padding-top: 16px;
  width: 80%;


  /*opacity: 0.05;
  background-color: #20002F;
  box-shadow: 0 20px 50px 0 rgba(0,0,0,0.4);*/
}
.ekocom-section-description p{
  color: #FFFFFF;
  font-family: 'Montserrat';
  /* font-size: 2.09em; */
  font-size: 18px;
  line-height: 26px;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin-top: 5px;
  width: 80%;

}
.eko-sparks{
  margin-top: -30px;
}
.partners .ekocom-section-description p{
    width: 79%;
}

.brands .ekocom-section-description p{
	/*width: 70%;*/
}
.branded_content .ekocom-section-description p{
	width: 72%;
	padding-top: 4%;
}
.sparks .ekocom-section-description p{
	width: 80%;
}
.industry .ekocom-section-description p{
	width: 72%;
	padding-top: 4%;
}
.branded_content .ekocom-section-subtitle{
	padding-top: 3%;
	font-weight: bold;
}
.industry .ekocom-section-subtitle{
	padding-top: 3%;
	font-weight: bold;
	width: 65%;
}

.ekocom-content-horizontal-column-image.home_graphic{
	background-image: url('../image/home_graphic.png');
	background-size: contain;
    /*height: 580.91px;
    width: 615.08px;*/
    height: 100%;
    width: 100%;
    margin-top: -28px;
    background-repeat: no-repeat;
    background-position: center;
}
.home_graphic-mobile{
  display: none;
}
.ekocom-content-horizontal-column-image.partners_cluster{
	background-image: url('../image/partners_cluster.png');
	background-size: contain;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: -9px;
    margin-left: 63px;
}
.ekocom-content-horizontal-column-image.branded_img{
	background-image: url('../image/branded_img.png');
	background-size: contain;
    width: 750px;
    height: 590px;
    background-repeat: no-repeat;
    background-position: top center;
    margin-left: -163px;
    margin-top: -40px;
}
.ekocom-content-horizontal-column-image.portfolio_logos{
	background-image: url('../image/portfolio_logos.png');
	background-size: contain;
  width: 498px;
  height: 373px;

    background-repeat: no-repeat;
    background-position: top center;
}
.ekocom-content-horizontal-column-image.sparks_video{
	background-image: url('../image/sparks_video.png');
	background-size: contain;
  width: 100%;
  height: 100%;
    background-repeat: no-repeat;
    background-position: top center;

}
.ekocom-eko-button-show{
	color: #ffffff;
	background-color: #00CCFF;
	padding: 17px;
	text-align: center;
	/*font-size: 1.36em;*/
    font-family: 'Stolzl-Bold';
    font-size: 12px;
		height: 50px;
    width: 252px;
	-webkit-transition: all .333s;
	transition: all .333s;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
}

.ekocom-eko-button-two{
  color: #ffffff;
  background-color: #00CCFF;
	padding: 18px;
  text-align: center;
  /*font-size: 1.36em;*/
    font-family: 'Stolzl-Bold';
    font-size: 12px;
    height: 50px;
    width: 191px;
  -webkit-transition: all .333s;
  transition: all .333s;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
}
.ekocom-eko-button-three{
  color: #ffffff;
  background-color: #00CCFF;
	padding: 18px;
  text-align: center;
  /*font-size: 1.36em;*/
    font-family: 'Stolzl-Bold';
    font-size: 12px;
    height: 50px;
    width: 191px;
  -webkit-transition: all .333s;
  transition: all .333s;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    margin-left: 10px;
}
.ekocom-eko-button-example{
  color: #ffffff;
  background-color: #00CCFF;
	padding: 17px;
  text-align: center;
  /*font-size: 1.36em;*/
    font-family: 'Stolzl-Bold';
    font-size: 12px;
    height: 50px;
    width: 191px;
  -webkit-transition: all .333s;
  transition: all .333s;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    margin-top: 40px;
}

.button-container{
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.ekocom-eko-button:hover{
    background-color: rgba(0, 183, 255, 1);
}
.industry .ekocom-eko-button {
	display: inline-block;
	margin-right: 2px;
}
.sparks .ekocom-eko-button{
	width: 31%;
    padding: 2.5%;
    margin-top: 5%;
    z-index: 1;
    position: relative;
}
/*.portfolio .ekocom-eko-button{
	margin-left: 30%;
    margin-top: 8%;
}*/
.sparks .ekocom-content-horizontal-column{
	height: 70%;
}
.sparks .ekocom-section-subtitle {
    padding-top: 2%;
    padding-bottom: 4%;
    font-weight: bold;
 }
.ekocom-content-horizontal-row {
	width: 100%;
	height: 40%;
	display: inline-block;
}
.sparks .ekocom-content-horizontal .ekocom-content-horizontal-row {
	background-image: url('../image/graph.png');
	background-size: contain;
	background-position: top center;
	background-repeat: no-repeat;
}
.ekocom-video-img-play-btn {
    width: 4vw;
    height: 4vw;
    background-color: rgba(25, 26, 36, 0.75);
    border-radius: 100%;
    border: .3vh solid #50E3A5;
    box-sizing: border-box;
    z-index: 2;
    position: absolute;
    margin-top: 8%;
    margin-left: 22.5%;
    -webkit-transition: all .333s;
    transition: all .333s;
    cursor: pointer;
}
.ekocom-video-img-play-btn svg{
  width: 30%;
  margin-top: 31%;
  margin-left: 39%;
}

.ekocom-video-img-play-btn-icon {
    width: 0;
    height: 0;
    border-top: 1.8vh solid transparent;
    border-bottom: 1.8vh solid transparent;
    border-left: 1.5vw solid white;
    margin-top: 2.7vh;
    margin-left: 1.7vw;
}

.ekocom-video-img-play-btn-icon svg path {
    fill: #fff;
    width: 1.5vw;
    margin-top: 2.5vh;
    margin-left: 1.7vw;
}
.ekocom-video-img-play-btn-text {
	color: #ffffff;
	padding-top: 26%;
	text-align: center;
	font-family: 'Montserrat';
	/*font-size: 2.7em;*/
    font-size: 16px;
}
.ekocom-quote-box {
    width: 80%;
    /*box-shadow: 0 30px 100px 0 rgba(0, 0, 0, 0.4);*/
    background-color: rgba(32, 0, 47, .1);
    height: 28%;
    font-family: 'Montserrat';
    text-align: center;
    margin-top: 40px;
}
.ekocom-quote-box-brands {
  width: 80%;
  height: auto;
  /*box-shadow: 0 30px 100px 0 rgba(0, 0, 0, 0.4);*/
  background-color: rgba(32, 0, 47, .1);
  /*height: 28%;*/
  font-family: 'Montserrat';
  text-align: center;
  margin-top: 30px;
  padding: 30px;
  /*padding-left: 133px;*/
}
.ekocom-quote-box-brands p {
  font-size: 18px;
}

.ekocom-quote-box-text {
    /*font-size: 2em;*/
    font-size: 18px;
    line-height: 2.24em;
    padding-top: 4.5%;
    color: white;
}
.ekocom-quote-box-text-brands {
    font-size: 18px;
    line-height: 2.24em;
    padding-top: 4.5%;
    color: white;
    text-align: center;
}
.ekocom-quote-box-subtext {
    /*font-size: 1.155em;*/
    font-size: 12px;
    color: white;
}
.ekocom-quote-icon.yr{
	background-image: url('../image/yr_quote.png')

}
.ekocom-quote-icon.syfy{
	background-image: url('../image/portfolio_syfy.png')
}

.ekocom-quote-icon.mouse{
	background-image: url('../image/mouse.png');
  width: 100%;
  position: absolute;
  top: 90%;
}
.ekocom-content-vertical{
	height: 100%;
	width: 100%;
}
.ekocom-content-vertical-row{
	width: 100%;
	height: 100%;
}
.ekocom-content-vertical-row.thirty{
	height: 30%;
}
.ekocom-content-vertical-row.fourty{
	height: 40%;
}
.ekocom-content-vertical-row.sixty{
	height: 60%;
}
.ekocom-content-vertical-row.thirtyFive{
	height: 35%;
}
.ekocom-content-vertical-row.sixtyFive{
	height: 65%;
}
.ekocom-content-vertical-row.fiftyFive{
	height: 55%;
}
.ekocom-content-vertical-row.fifty{
	height: 50%;
}
.ekocom-content-vertical-row.fourtyFive{
	/*height: 45%;*/

}
.ekocom-content-vertical-row .ekocom-section-subtitle{
	padding-top: 1%;
    padding-bottom: 1%;
}
.ekocom-content-vertical-row .ekocom-section-description p{
    padding: 0;
	/*font-size: 1.363em;*/
	line-height: 1.1em;
	width: 100%;
    font-size: 18px;
}
.ekocom-content-vertical-row .ekocom-eko-button{
	padding: 1.5%;
    width: 40%;
}
#ekocom-branded-content-ui-stack{
	margin-top: 5%;
}
#ekocom-branded-content-ui-stack .ekocom-type-display {
    display: inline-block;
    color: #ffffff;
}
.sparks .ekocom-section-title, .portfolio .ekocom-section-title {
    /*font-size: 5em;*/
    /*font-size: 8.51vmin;*/
}
.partners .ekocom-eko-button{
    width: 40%;
    margin-top: 5%;
}
.home_page_quote{
    /*padding-top: 10%;*/
}
.home_page_quote_brands{
  font-size: 19px;
  text-align: center;
}
.home_page_quotee{
    font-size: 18px;
}
.home_page_quote_image{
    background-image: url(../image/brands_quotes.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    z-index: 0;
    margin-top: -32%;
    margin-left: -6%;
    width: 12%;
    height: 9vh;
}
.mobile-one{
  display: none;
}
.mouse-icon{
  margin-top: 62px;
}
.pistons-desktop {
  position: absolute;
  width: 100%;
  top: -100%;
  left:0%;
  opacity: 0.6;
}
/*a .ekocom-eko-button-show{

    text-decoration: none;
}
a:link{
  text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a{
  text-decoration: none;
}*/
@media (max-width:720px){
    .text-slider{
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 200%;
    }
    .text-slider-a{
      padding-left: 22px;
    }

    .ekocom-slide-pagination{
      top: 77%;
    }
    .sparks-title{
      font-size: 20px;
    }
    .one-on-one-video-text{
    font-size: 13px;
    width: 78%;
    margin-left: 23px;
    line-height: 16px;
    }

    .one-on-one-video-text p{

    }
    .ekocom-section-description{
      position: absolute;
      left: 40%;
      width: 97%;
      font-size: 8px;
      line-height: 16px;

    }
    .spark-1-on-1{
      text-align: center;

      width: 100%;
      display: block;
      position: absolute;
      top: 14%;
      left: 4%;
      color: white;
    }
    .mobile-two-text {
        font-family: Montserrat;
        position: relative;
        font-size: 10pt;
        line-height: 13pt;
        width: 82%;
        left: 30px;
    }
    .mob-icon{
      padding-left: 41px;
    }
    .branded-title{
      position: absolute;
      left: 0%;
      top: 0%;
    }
    .branded-description{
      position: absolute;
      top: 28%;
      left: 6%;
      width: 84%;
      font-size: 18pt;
      line-height: 26pt;
    }
    .branded-description p{

      font-size: 18px;
      line-height: 26px;
    }
    .description{
      font-size: 18px;
      line-height: 26px;

    }
    .ekocom-section-description p {
    color: #FFFFFF;
    font-family: 'Montserrat';
    /* font-size: 2.09em; */
    font-size: 18px;
    line-height: 25px;
    width: 104%;
    margin-left: -16px;
    -webkit-transition: all 1s;
    transition: all 1s;


    }
    .spark-1-on-1 {
        text-align: center;
        width: 100%;
        display: block;
        position: absolute;
        top: 4%;
        left: 4%;
        color: white;
    }
    .ekocom-content-vertical-row .ekocom-section-description p {
    padding: 0;
    width: 100%;
    font-size: 18px;
    line-height: 26px;
    }
    .mobile-one{
      display: block;
      position: absolute;
      top: 6%;
    }
    .mobile-two{
      display:none;
    }

    .mobile-three-content{
      width: 100%;
      color: white;
      position: absolute;
      top: 0%;
      left: 0%;
    }
    .mobile-three{
      opacity: 0;
    }
    .mobile-four{
      display:none;
    }
    .mobile-five{
      opacity: 0;
    }
    .vide-desc{
      margin-left: 10px;
      font-family: Montserrat;
      opacity: 0.9;
      margin-top: -3px;
    }
    .mobile-five-p{
      font-family: Montserrat;
      margin-left: 5px;
    }
    .portfolio-carousel-mobile .slick-carousel-mobile {
    margin-left: 16px;
    margin-right: -25px;
    margin-top: 30px;
    }
    h5{
      font-weight: bold;
      opacity: 1 !important;
    }
    .ekocom-content-horizontal-column-image.home_graphic{
      display:none;
    }
    .home_graphic-mobile{
      display: inline;
      background-image: url('../image/home_graphic.png');
      background-size: contain;
        /*height: 580.91px;
        width: 615.08px;*/
        height: 50%;
        width: 50%;
        margin-top: -28px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .ekocom-content-horizontal-column-image.partners_cluster{
      display: none;
    }
    .ekocom-content-horizontal-column-image.branded_img{
      display: none;
    }
    .ekocom-content-horizontal-column-image.portfolio_logos{
      display: none;
    }
    .ekocom-content-horizontal-column-image.sparks_video{
    	display: none;
    }
    .ekocom-content-horizontal-column{
    	width: 90%;
      height: 100%;
      display: inline-block;
      margin-left: 30px;
    }
    .ekocom-section-title{
      font-size: 36px;
      line-height: 40px;

    }
    .ekocom-section-subtitle{
        font-size: 20px;
        line-height: 30px;

    }
    .ekocom-quote-box-brands {
      width: 60%;
    }
    .ekocom-quote-box-text-brands {
        font-size: 12px;
    }
    .ekocom-quote-box-subtext {
        font-size: 8px;
    }
    .pistons{
      top: -110%;
      position: relative;
    }
}
