body.portfolio {
    background-image: linear-gradient(180deg, #2D50FF 0%, #9600FF 100%);
    transition: all .3s ease-in;
    background-color: rgba(0, 0, 0, 1);
    background-position: 0px 0%;
    background-size: 100%;
    margin-top: -20px;
}
.video-content-desktop {
  position: relative;
  width: 100%;
  left: -10%;
}
.mobile-li{
  display: none;
}
.mail-icon{
  display: none;
}
.vertical-text-container {
    width: 100%;
    position: relative;
    top: 4%;
}
.vertical-text {
  font-size: 15px;
  position: absolute;
  color: white;
  transform: rotate(-90deg);
  top: 15%;
  left: -10%;
}
.mobile-nav-content{
  display:none;
  position: absolute;
  z-index: 11;
  top: 0%;
  height: 1100px;
  width: 100%;
  left: 0%;
  background-color: #223B90;
}
.mobile-content-center{
  position: absolute;
  top: 11%;
  width: 100%;
}
.mobile-column{
  width: 100%;
  color: white;
  /*background-color: #315590;*/
  background: rgba(23,59,127,1);
  margin-top: 5px;
}
.mobile-button{
  padding: 31px 30px 25px 30px;
  font-size: 26px;
}
.mobile-button-content-1, .mobile-button-content-2, .mobile-button-content-3, .mobile-button-content-4 {
    display: none;
    font-size: 14px;
    padding: 10px 15px;
    opacity: 0.25;
}
.mobile-button-content-1:hover, .mobile-button-content-2:hover, .mobile-button-content-3:hover, .mobile-button-content-4:hover{
  opacity: 1;
  /*background-image: url(../image/active-dot.png);*/
  background-repeat: no-repeat;
}
.mob-column-headline{
  font-size: 20px;
}
.active-nav{
  opacity: 1;
}
.contact-btn-mobile{
  top: 47%;
  position: absolute;
  left: 29%;
}
.social-btn-mobile{
  position: relative;
  left: -18%;
  padding-bottom: 40px;
}
.mobile-button a {
    color: black;
    /*padding: 12px 16px;*/
    text-decoration: none;
    display: block;
    color: white;
}
.mobile-button-right{
  text-align: right;
  font-size: 23px;
  margin-top: -40px;
}
.mob-nav-close{
  display: none;
  font-size: 30px;
  color: white;
  position: absolute;
  left: 89%;
  top: 64%;
}
.Eko-spark-video-content{
  position: relative;
  top: 17%;
  width: 120%;
  left: -20%;
}
.nav-desktop-active{
  opacity: 1 !important;
  margin-left: -1px;
  margin-top: 0px;
}
.active-dot{
    display: none;
    margin-left: -20px;
    position: absolute;
    margin-top: -3px;
    opacity: 1 !important;
    transition: all 0.82s;
    transition-property: all;
    transition-duration: 0.82s;
    transition-timing-function: initial;
    transition-delay: 0.12s;
    -webkit-transition-delay: 0.12s;
    -moz-transition-delay: 0.12s;
    -o-transition-delay: 0.12s;
    transition-delay: 0.12s;
}
.active-dot-mob {
    margin-left: -20px;
    position: absolute;
    margin-top: -1px;
}
/*.nav-container {
    display: block;
    left: 78%;
    position: relative;
}*/
.mobile{
  display: none;
}
.contact-button{
      padding-top: 7px;
      color: white;
      font-size: 13px;
}
.contact-button:hover{
  color: black;
}
.eko-btn.eko-btn-border.color-white:hover {

    color: #black;

}
.ekocom-header-nav {
    order: 1;
    margin-right: -26px;
}
/*.mail-img{
  display: none;
}*/



@media (max-width: 720px) {


  .eko-btn {
    color: #fff;
    width: 158px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.30);
    /* border-radius: 2em; */
    height: 49px;
    /* font-size: 1.7vmin; */
    background-image: url(../image/download.svg);
    background-repeat: no-repeat;
    background-position: -9% -25%;
    font-size: 14px;
}
    .burger-icon{
      display: block;
      position: absolute;
      left: 88%;
      top: 37%;
    }
    .mail-icon{
      display: block;
      position: absolute;
      left: 73%;
      top: 36%;
    }
    .ekocom-header-content{
      display: none;
    }
    .nav-desktop{
      display: none;
    }
    .mobile-li{
      display: block;
    }
    .desktop-li{
      display: none;
    }
    .text-slider-2{
      display: none;
    }
    .slick-nav-words{
      margin-bottom: -30px;
      display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        font-family: "Montserrat";
    }
    .nav-words{

      padding-left: 25px;
      opacity: .5;
    }
    .nav-words-active{
      padding-left: 25px;
    }
    /*.mobile-two .mobile-three .mobile-four .mobile-five{
      display: none;
    }*/


    .ekocom-section-title {
        margin-top: 50px;
        margin-bottom: 38px;
        font-size: 52px;
        line-height: 52px;
    }

    .ekocom-section .ekocom-section-content .ekocom-description p {
          padding-left: 45px;
          font-size: 16px;
          line-height: 24px;

    }
}

.ekocom-quote-icon.mouse-arrow {
  background-image: url(../image/mouse-arrow.png);
  width: 100%;
  position: absolute;
  top: 90%;
}

/*================================*/
/*PAGINATION HIDING*/
/*================================*/

/*ABOVE PAGES*/
.ekocom-section.ekocom-above {
    pointer-events: none;
}

.ekocom-section.ekocom-above .ekocom-section-content .ekocom-description,
.ekocom-section.ekocom-above .portfolio-carousel-desktop {
    -webkit-transform: translate3d(0, -45px, 0);
    transform: translate3d(0, -45px, 0);
    opacity: 0;
}

/*BELOW PAGES*/
.ekocom-section.ekocom-below {
    pointer-events: none;
}

.ekocom-section.ekocom-below iframe {
    pointer-events: none;
}

.ekocom-section.ekocom-below .ekocom-section-content .ekocom-description,
.ekocom-section.ekocom-below .portfolio-carousel-desktop {
    -webkit-transform: translate3d(0, 45px, 0);
    transform: translate3d(0, 45px, 0);
    opacity: 0;
}

/*================================*/
/*MOBILE RESPONSIVENESS HIDING*/
/*================================*/

.ekocom-content-horizontal { display: block; }
.ekocom-content-vertical { display: none; }

/*================================*/
/*DOUBLE VIDEO*/
/*================================*/
.video-double {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    outline: none;
    transition: opacity 1s;
}

.ekocom-active .video-double.active, .ekocom-active .video-single.active {
    opacity: 1;
    pointer-events: initial;
    display: block;
    transition: opacity 1s;
}

.video-double video {
    width: 100%;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.2);
}

.video-double-top {
    margin: 0 auto;
    /*border: solid 1px yellow;*/
    padding: 75px 0 10px 0;
    width: 55%;
}

.video-double-top p {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.video-double-left, .video-double-right {
    position: absolute;
    top: 160px;
    width: 48.5%;
    transition: all .5s;
}

.video-double-left {
    left: 0;
}

.video-double-right {
    right: 0;
}

.video-double-left p, .video-double-right p {
    margin: 10px 15% 0 15%;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}

img.playVidBtn {
    position: absolute;
    top: 0%;
    left: 50%;
    padding-top: 56.25%;
    transform: translate(-50%,-50%);
}

@media (max-width:720px) {
    img.playVidBtn {
        width: 65px;
    }
}

img.closeVidBtn {
    display: none;
    position: absolute;
    top: 13px;
    right: 15px;
    height: 31px;
    cursor: pointer;
}
.vidThumb{
  width: 300px;
}

/*Focus on one video*/
.video-double-open {
    top: 0;
    padding-bottom: 56.25%;
    height: 0;
    width: 100%;
    /*box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);*/
    transition: all .5s;
}

.video-double-closed {
    cursor: pointer;
}

/*================================*/
/*ONE-ON-ON MOBILE SECTION*/
/*================================*/
@media (max-width: 720px) {
    .ekocom-section .ekocom-section-content .ekocom-description .spark-1-on-1 p {
        padding: 10px 0% 10px;
        color: #FFFFFF;
        font-family: 'Montserrat';
        font-size: 15px;
        line-height: 19px;
        text-align: center;
    }

    .spark-1-on-1 div {
        position: relative;
        width: 75%;
        text-align: center;
        margin: 0 auto;
    }

    .spark-1-on-1 video {
        width: 100%;
    }

    .spark-1-on-1 img {
        width: 65px;
    }

    .ekocom-section .ekocom-section-content .ekocom-description .spark-1-on-1 .spark-1-on-1-vid p {
        padding: 10px 0% 0px;
        font-size: 12px;
        line-height: 16px;
    }
}

/*================================*/
/*SINGLE VIDEO*/
/*================================*/
.video-single {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    outline: none;
    transition: opacity 1s;
}

.video-single-top div {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    width: 100%;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}

.video-single-bottom {
    position: relative;
    padding: 5px 20px;
}

.video-single-bottom h5 {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    margin-bottom: 6px;
    padding-top: 5px;
}

.video-single-bottom p {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 15px;
}
/*================================*/
/*PORTFOLIO CAROUSEL*/
/*================================*/
.car-position{
  position: relative;
  top: 121%;
}
.car-position-2{
  position: relative;
    top: 121%;
}
.portfolio-carousel-desktop {
    position: absolute;
    bottom: 0;
    padding: 25px 0 0 0;
    height: 250px;
    width: 123%;
    background-color: rgba(45,26,75,0.2);
    left: -18%;
}

.portfolio-carousel-desktop-bg {
    position: absolute;
    bottom: 0;
    padding: 25px 0 0 0;
    height: 250px;
    width: 123%;
    background-color: rgba(45,26,75,0.2);
    left: 100%;
}


.portfolio-carousel-desktop p {
    margin-bottom: 30px;
    margin-left: 15.5vw;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 18px;
}

.ekocom-section .ekocom-section-content .ekocom-description .portfolio-carousel-mobile p {
    margin: 30px 0;
    padding-left: 20px;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 18px;
}

.portfolio-carousel-desktop .slick-carousel-desktop {
    margin-left: 15.5vw;
}

.portfolio-carousel-mobile .slick-carousel-mobile {
    margin-left: 20px;
    margin-right: -25px;
}

.slick-list {
    overflow: visible !important;
}

.portfolio-carousel-desktop .slick-carousel-desktop div {
    margin: 0 9px 0 0;
}

.portfolio-carousel-mobile .slick-carousel-mobile div {
    position: relative;
    margin: 0 15px 0 0;
}

.portfolio-carousel-desktop .slick-carousel-desktop div.last-of-category {
    margin: 0 30px 0 0;
}

.portfolio-carousel-desktop .slick-carousel-desktop div:focus,
.portfolio-carousel-mobile .slick-carousel-mobile div:focus {
    outline: none;
}

.slick-carousel-desktop > div {
    overflow: hidden;
}

.portfolio-carousel-desktop .slick-carousel-desktop div.branded-category {
    float: left;
    /*display: inline-block;*/
    height: 16px;
    margin: 12px 10px 15px 0;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 13px;
    line-height: 16px;
}

.portfolio-carousel-desktop .slick-carousel-desktop div.branded-category-line {
    margin: 21px 0 21px -9px;
    border: 0;
    border-top: 1px solid #fff;
    opacity: .15;
    overflow: hidden;
}

.portfolio-carousel-desktop .slick-carousel-desktop div.slick-current img,
.portfolio-carousel-mobile .slick-carousel-mobile div.slick-current img.vidThumb {
    transform: translateY(-5px);
    border: solid 0px !important;
    opacity: 1;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,0.5);
    transition: all 0.3s;
}

.portfolio-carousel-desktop .slick-carousel-desktop div img {
    height: 120px;
    margin-bottom: 6px;
    box-sizing: border-box;
    border: solid 2px transparent;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.3s;
}

.portfolio-carousel-mobile .slick-carousel-mobile div img.vidThumb {
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.3;
    transition: all 0.3s;
}

.portfolio-carousel-desktop .slick-carousel-desktop div img:hover {
    border: 2px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, #50E3A5 0%, rgba(80,227,165,.3) 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #50E3A5 0%, rgba(80,227,165,.3) 100%);
    border-image: linear-gradient(to bottom, #50E3A5 0%, rgba(80,227,165,.3) 100%);
    border-image-slice: 1;
    opacity: 1;
}

.portfolio-carousel-desktop .slick-carousel-desktop div span {
    display: block;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 11px;
    line-height: 14px;
}

.portfolio-carousel-mobile .slick-carousel-mobile div span {
    display: block;
    padding-left: 29px;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 18px;
}


.portfolio-carousel-scroll-sparks, .portfolio-carousel-scroll-branded {
    position: absolute;
    top: 0;
    right: 5vw;
    transform: translate(50%,-50%);
    width: 100px;
    height: 57px;
    background-color: #FFAC19;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,0.3);
    left: 88%;
}

.portfolio-carousel-scroll-left, .portfolio-carousel-scroll-right {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    border: none;
    cursor: pointer;
    background: none;
}

.portfolio-carousel-scroll-left:focus, .portfolio-carousel-scroll-right:focus{
    outline: none;
}

.arrow-left {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%,-50%) rotate(90deg);
    height: 20px;
    transform-origin: center center;
    fill: #ffffff;
}

.arrow-right {
    position: absolute;
    top: 50%;
    right: 60%;
    transform: translate(50%,-50%) rotate(-90deg);
    height: 20px;
    transform-origin: center center;
    fill: #ffffff;
}
.ekocom-content-vertical-row{
    display: none;
}
.desktop{
  display: block;
}
.swipe-icon{
  display:none;
}
.mobile-button-content-1:hover, .mobile-button-content-2:hover, .mobile-button-content-3:hover, .mobile-button-content-4:hover {

    opacity: 1;
}

/*@media (max-width:720px) {
    .ekocom-content-horizontal { display: none; }
    .ekocom-content-vertical { display: block; }
    .portfolio-carousel-desktop { display: none; }
}*/

@media (max-width:720px) {
    .desktop{
      display: none;
    }
    a:hover{
        opacity: 1;
    }
    .ekocom-content-vertical-row{
        display: block;
    }
    .mobile{
      display: block;
      position: relative;
    }
    .mobile-title{
      margin-left: -8%;
    }
    .mobile-description{
      position: relative;
      left: -2%;
      top: -2%;
    }
    .branded-description {
      position: absolute;
      top: 35%;
      left: 6%;
      width: 84%;
      font-size: 18pt;
      line-height: 26pt;
  }
  .vertical-text-container {
    display: none;
  }
  .vertical-text {
    display: none;
  }
  img.vidThumb {
    opacity: 0;
  }
  .mail-img{
    /*width: 0%!important;*/
  }
  .active-nav {
      opacity: 1;
      padding-left: 0px;
      padding-top: 5px;
  }
  .active-dot{
      margin-left: -2px;
  }
  .team{
    margin-left: 13px;
  }
  .active-dot {
      margin-left: -19px;
      position: absolute;
  }
  .swipe-icon{
    left: 48%;
    display: block;
    position: absolute;
    top: 77%;
  }
  .mobile-button a {
      color: black;
      text-decoration: none;
      display: block;
      color: white;
  }
  .team-a{
    margin-left: 15px;
    margin-bottom: -15px;
    margin-top: -14px;
  }
}

@media screen and (min-width: 721px) and (max-width: 1120px){
    .mobile{
      display: none;
    }
    .dropbtn {
      background-color: transparent;
      color: white;
      padding-right: 66px;
      font-size: 10px;
      border: none;
      cursor: pointer;
      font-family: montserrat;
  }
  .nav-desktop{
    font-size: 10px;
  }
  .dropdown-content a {
      color: black;
      padding: 5px 8px;
      text-decoration: none;
      display: block;
      font-size: 10px;
      opacity: 0.8;
      font-family: Montserrat;
      transition: all 0.82s;
      transition-property: all;
      transition-duration: 0.82s;
      transition-timing-function: initial;
      transition-delay: 0.12s;
      -webkit-transition-delay: 0.12s;
      -moz-transition-delay: 0.12s;
      -o-transition-delay: 0.12s;
      transition-delay: 0.12s;
  }
  .vertical-text-container {
    /*display: none;*/
  }
  .vertical-text {
    margin-left: 27px
  }

  .nav-container, .header-cta-container{
    display: none;
  }
  .ekocom-header .ekocom-header-burger {
    width: 32px;
    cursor: pointer;
    text-align: right;
    display: block;
    left: 90%;
    position: absolute;
}
.ekocom-header .ekocom-header-burger div {
    height: 2px;
    background: #fff;
    display: block;
    margin-left: auto;
    vertical-align: middle;
    width: 66%;
    margin-bottom: 4px;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.burger-icon{
  display: block;
}
.mail-icon {
    display: block;
    position: absolute;
    left: 85%;
    top: 22%;
}
.mail-img{
  width: 100%;
  margin-top:5px;
}
.mail-img-tablet{
  display: block;
}
.mail-img-mobile{
  /*display: block;*/
}
.video-double-top {
    margin: 0 auto;
    /* border: solid 1px yellow; */
    padding: 85px 0 10px 0;
    width: 55%;
    margin-top: -40px;
}
.mobile-content-center {
    position: absolute;
    top: 11%;
    width: 70%;
    left: 15%;
}
.contact-btn-mobile {
    top: 51%;
    position: absolute;
    left: 40%;
}
.social-btn-mobile {
    position: relative;
    left: -13%;
    padding-bottom: 40px;
}
.active-nav {
    opacity: 1;
    padding-left: 0px;
    padding-top: 5px;
}
.active-dot{
    margin-left: -2px;
}
.team{
  margin-left: 13px;
}
.active-dot {
    margin-left: -19px;
    position: absolute;
}
.mob-icon {
    padding-left: 41px;
}

.mouse-icon {
    margin-top: 60px;
}
.ekocom-content-horizontal-column-left-row {
    width: 100%;
    height: 100%;
    margin-left: 22px;
}
.portfolio-carousel-scroll-sparks, .portfolio-carousel-scroll-branded {

    left: 73%;
}
.portfolio-carousel-desktop {
    left: -8%;
}
.swipe-icon{
  display: none;
}

}
